table {
    text-align: left;
    color: rgb(43, 92, 226);
    border-collapse: collapse;
}

img {
    height: 100px;
    width: 100px;
}

table td,
table th {
    border: 1px solid rgb(43, 92, 226);
    padding: 10px;
    min-width: 160pxs;
}

.adjust-update-link {
    margin-left: 10px;
}